 # Operators 
     1. AO
     +, -, *, /, %, //, **

In [4]:
55+2
77-44
4**3

64

In [6]:
24//2

12

In [9]:
4+33-4*33%2**4

33

# ASo

=, +=, -=, /=, %=, *=, **=

In [20]:
a=10
a -= 100

In [23]:
a=20
a *= 20
a

400

In [24]:
a

400

In [26]:
a*=30

360000

# C o
 
 <, >, >=, <=, !=, ==

In [31]:
5<3
5>3
5<=5
5>=16

False

# l o

and , or, not

In [33]:
3<5 and 6>5

True

In [35]:
6==5 or 9<10

True

In [36]:
not 5

False

4 | 5
8  4 2 1
0  1 0 0
0  1 0 1

0  1 0 1===>5

In [37]:
4|5

5

In [38]:
6 | 12

14

3 & 2

0 0 1 1
0 0 1 0
--------
0 0 1 0====>2

In [39]:
3&2

2

In [40]:
18 & 3

2

In [41]:
5 ^ 6

3

## ls 



3 << 1

0011

In [42]:
3<<3

24

3<<3

64 32 16 8 4 2 1
0  0  0  0 0 1 1
0  0  0  0 1 1 0 === 6
0  0  0  1 1 0 0 ===12
0  0  1  1 0 0 0 ===24

In [44]:
18 >> 3

2

## I O 

is, is not

In [47]:
x= 5
x is not 5

False

## m o

in not in

In [50]:
a= [7,49,0,3,5]
49 not in a

False

#  Cs

if , elif, else


## Syntax


if Condition  :
    Statement
elif condition :
    Statement
else:

In [51]:
a = input("Enter value")

Enter valuehai

In [52]:
a

'hai'

In [ ]:
x = int(input("Enter College Name"))
print(type(x))

# Statements
 * two types
 1. Conditional statements
     - if 
     - if else
     - elif
 2. Control Statements
     - For
     - while
         - break
         - continoue

In [69]:
#for checking contions
#a>0-->
a=int(input("enter value"))
#a=6
if a>0:
    print(True)

enter value

ValueError: invalid literal for int() with base 10: ''

In [65]:
#if else

if a>=0:
    print("Yes")
else:
    print(" No")

 No

In [70]:
#Task -1 :for checking user creditials 
    #un='muni'
    #pwd=123
#Task -2:if you enter the user input is 'even number ' 
    #then perform squre root of that number 
    #otherwise find the cube of that number
#Task 3:Check if you elible for VOTE or not

SyntaxError: invalid syntax (<ipython-input-70-c39887dfe780>, line 5)

In [74]:
#Task -1 :for checking user creditials 
    #un='muni'
    #pwd=123
un='muni'
pwd=123
username=input("Enter the user name for checking..")
password=int(input("Enter the password .."))
if un==username and pwd==password:
    print("welcome to ..",username)
else:
    print(username," is Invalid..")

Enter the user name for checking..muni
Enter the password ..123
muni  is Invalid..

In [85]:

un='muni'
pwd=123
username=input("Enter the user name for checking..")

if un==username:
    password=int(input("Enter the password .."))
    if pwd==password:
        print("Welcome ..",username)
    else:
        print("Invalid ",password)
else:
    print("Invalid ",username)

Enter the user name for checking..muni
Enter the password ..123
Welcome .. muni

In [86]:
a=10
b=30
a=a+b
b=a-b
a=a-b
a,b

(30, 10)

In [87]:
a,b=10,30
a,b=b,a
a,b

(30, 10)

In [89]:
#if elif
#find grater number 
a=10
b=5
c=19
if a>b and a>c:
    print(a," is bigger")
elif b>c:
    print(b," is bigger")
else:
    print(c," is bigger")

19  is bigger

In [ ]:
#Task-5:if temperature 20 it is 'cool' or if above 
    #tem 20 it is 'moderate' if above 30 it is 'hot'
#Task -6:Check if given year is LEAP year or not
    #1900 ->non leapyear 
    #2000 ->Leap year
    #1999 ->
    #2020 ->
    #400  ->

In [100]:
n=int(input("Enter the year : "))
if n%400==0 or (n%100!=0 and n%4==0):
    print("Leap year")
else:
    print("Non Leap year")

Enter the year : 2012
Leap year

## For Loop

In [101]:
range(1,100)

range(1, 100)

In [112]:
# for(in..;condistion:incre..or dec){
    #....##body of statements
# }
#generate first 10 natural numbers
b=11
a=1
for number in range(a,b):
    print(number,end=',')

1,2,3,4,5,6,7,8,9,10,

In [131]:
count=0
for i in range(0,21,2):
    count=count+1
    print(count,"--->",i)
    
print("Total Count is :",count)

1 ---> 0
2 ---> 2
3 ---> 4
4 ---> 6
5 ---> 8
6 ---> 10
7 ---> 12
8 ---> 14
9 ---> 16
10 ---> 18
11 ---> 20
Total Count is : 11

In [122]:
#Generate the all factors of 5 which range is (1,1001)
for i in range(1,1001):
    if i%5==0:
        print(i,end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250 255 260 265 270 275 280 285 290 295 300 305 310 315 320 325 330 335 340 345 350 355 360 365 370 375 380 385 390 395 400 405 410 415 420 425 430 435 440 445 450 455 460 465 470 475 480 485 490 495 500 505 510 515 520 525 530 535 540 545 550 555 560 565 570 575 580 585 590 595 600 605 610 615 620 625 630 635 640 645 650 655 660 665 670 675 680 685 690 695 700 705 710 715 720 725 730 735 740 745 750 755 760 765 770 775 780 785 790 795 800 805 810 815 820 825 830 835 840 845 850 855 860 865 870 875 880 885 890 895 900 905 910 915 920 925 930 935 940 945 950 955 960 965 970 975 980 985 990 995 1000

In [126]:
#List out the all leap years in given range
#1900-2020
for year in range(1900,2021):
    if year%400==0 or (year%100!=0 and year%4==0):
        print(year,end='    ')

1904    1908    1912    1916    1920    1924    1928    1932    1936    1940    1944    1948    1952    1956    1960    1964    1968    1972    1976    1980    1984    1988    1992    1996    2000    2004    2008    2012    2016    2020

In [ ]:
#TAsks
#Check if given number is Prime number or not
#Check if given number is with in range or not

In [10]:
while True:
    n=int(input())
    if n==10:
        break

6
4
1
1234
10

## Functions in python
* It contains set of statements
* in python 'def' for defining a funtion
* It code reusablity
* It is reprasented by curly braces like ()
* Types of funtions are four
    - funtion with arg[] with return value
    - funtion with arg[] with out return value
    - funtion with out arg[] with return value
    - funtion with out arg[] with out return value

In [20]:

  #funtion with out arg[] with out return value
#         def function_name():
#             ......
#             ......
#             Body of statements
#         function_name()

#funtion to create additon opartion
def addtion1():
    a=2
    b=4
    print(a+b)
addtion1()
#funtion with out arg[] with return value
def substration():
    a=6
    b=2
    return a-b
substration()

6

4

In [16]:
#funtion with arg[] with out return value
def muliplication(a,b):
    print(a*b)
a=int(input("Enter the a value"))
b=int(input("Enter the a value"))
muliplication(a,b)

Enter the a value6
Enter the a value3
18

In [18]:
#funtion with arg[] with return value
def division(a,b):
    return a//b
a=int(input("Enter the a value"))
b=int(input("Enter the a value"))
division(a,b)

Enter the a value6
Enter the a value2

3

### Task : Funtion to create a Calculator App
- user input is 1:-->additon
- user input is 2:-->substration
- user input is 3:-->Muliplication
- user input is 4:-->Division/Floor value
- user input is 5:-->power of the two value
- user input is 6:-->Exit

In [22]:
#function for addtion
def addition(a,b):
    return a+b
addition(2,3)

5

In [23]:
#function for substration
def substract(a,b):
    return a-b
substract(2,3)

-1

In [ ]:
#function for mul
def multi(a,b):
    return a*b
multi(2,3)

In [30]:
#function for divis
def div(a,b):
    return a/b
div(2,3)

0.6666666666666666

In [26]:
#function for power
def power(a,b):
    return a**b
power(2,3)

8

In [31]:
def calculatorApp():
    while True:
        print("1.For Addition")
        print("2.Substration")
        print("3.divistion")
        print("4.power")
        print("5.Multi")
        print("6.EXit")
        userChoice=int(input("The the choice.."))
        if userChoice==1:
            value1=int(input("Enter the first value for addition.."))
            value2=int(input("Enter the second value for addition.."))
            addition(value1,value2)
        elif userChoice==2:
            value1=int(input("Enter the first value for subtract.."))
            value2=int(input("Enter the second value for subtract.."))
            substract(value1,value2)
        elif userChoice==3:
            value1=int(input("Enter the first value for div.."))
            value2=int(input("Enter the second value for div.."))
            div(value1,value2)
        elif userChoice==4:
            value1=int(input("Enter the first value for power.."))
            value2=int(input("Enter the second value for power.."))
            power(value1,value2)
        elif userChoice==5:
            value1=int(input("Enter the first value for mul.."))
            value2=int(input("Enter the second value for mul.."))
            muliplication(value1,value2)
        elif userChoice==6:
            return True
calculatorApp()

1.For Addition
2.Substration
3.divistion
4.power
5.Multi
6.EXit
The the choice..5
Enter the first value for mul..3
Enter the second value for mul..2
6
1.For Addition
2.Substration
3.divistion
4.power
5.Multi
6.EXit
The the choice..6

True

## Strings

In [57]:
s='Apssdc'
print(s)
s.islower()
s.swapcase()
s[::-1]
for i in s:
    print(i)

Apssdc
A
p
s
s
d
c

In [45]:
s
print(s[4:6])

dc

In [35]:
len(s)

6

In [38]:
s.count('S')

0